div.stat-block {
	width: 230px;
	height: 100px;
	margin:  auto;
	padding: 10px;
	border: 1px solid #999;
}

div.stat {
	height: 80px;
	display: flex;
	justify-content: space-between;
}

p.disc-stat {
	text-align: right;
	line-height: 20px;
}
p.title-stat {
	line-height: 20px;
}

h4 {
	margin: 0;
	text-transform: uppercase;
	color: red;
}


