main {
	text-align: right;
	width: 400px;
	margin: 50px auto;

}
h4 {
	color: red;
	font-family: 'Times New Roman';
	text-transform: uppercase;
	font-weight: 200;
}
.block_2 a {
	text-decoration: none;
}
.block_2 a:link {
	color: grey;
}
.block_2 a:visited {
	color: grey;
}

