* {
	margin: 0;
	padding: 0;
}

div	{
	width: 180px;
	height: 50px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 4px;
	text-align: center;
	position: relative;
}
div::after {
	font-weight: 600;
	color: #999;
	position: absolute;
	top: 22px;
	right: -10px;
	content: "6";
	width: 10px;
	height: 15px;
	padding: 5px;
	background: #ececed;
	border: 1px solid #ececec;
	border-radius: 5px;

}
a {
	display: block;
	margin: 3px;
	text-decoration: none;
	color: #000;
	font-size: 40px;
	font-weight: 600;
}

span {
	color: red;
}
